<li class="my-2">
    <div class="flex font-primary cursor-pointer items-center attribute">
        <div class="{% if item.attribute.value != '' %}min-w-52{% endif %} py-1 me-6">
            {{ item.attribute.name }}
        </div>
        <div class="font-normal text-gray-400 max-w-96">
            {{ item.attribute.value }}
        </div>
        {% if item.attribute.value == '' %}
        <div class="ms-4 flex options" id="toggle-{{ item.attribute.id }}" onclick="toggleForm('{{ item.attribute.id }}')">
            <div class="text-white items-center font-normal p-2 rounded-md bg-quarternary text-sm link-button">
                <svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                </svg>
            </div>
        </div>
        {% endif %}
        <a href="/product/delete-attribute/{{ item.attribute.id }}" class="text-white items-center font-normal p-2 rounded-md bg-quarternary text-sm link-button options ms-2">
            <svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
            </svg>
        </a>
    </div>
    
    <form action="/product/add-attribute/{{ product.id }}" method="POST" class="mt-2 items-center space-x-2 hidden" id="form-{{ item.attribute.id }}">
        {% csrf_token %}
        <input type="hidden" name="parent_attr" id="parent_attr" value="{{ item.attribute.id }}">
        <label for="name" class="font-primary text-white text-sm">Name:</label>
        <input type="text" name="name" id="name" class="px-2 py-1 text-sm text-white bg-quarternary rounded-md border font-normal border-ternary focus:ring-0 focus:border-gray-400">
        <label for="value" class="font-primary text-white text-sm">Value:</label>
        <input type="text" name="value" id="value" class="px-2 py-1 text-sm text-white bg-quarternary rounded-md border font-normal border-ternary focus:ring-0 focus:border-gray-400" placeholder="Keep blank to make parent">
        <button class="text-white items-center font-normal p-2 rounded-md bg-quarternary text-sm link-button" type="submit">
            <svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
            </svg>
        </button>
    </form>
    {% if item.children %}
        <ul class="ms-4">
            {% for child in item.children %}
                {% include "product/product_attribute_subtree_store.html" with item=child %}
            {% endfor %}
        </ul>
    {% endif %}
</li>
