{% extends 'authenticate/index.html' %}
{% load static %}
{% block content %}

<div class="h-full flex justify-center items-center p-10 py-20">
    <div class="text-accent-200 text-xl font-primary">Send Password Reset Link</div>
</div>
<div class="h-full flex justify-center items-center p-10 py-20">
    <div class="text-white font-normal text-md">
        <div>Your password has been successfully reset. Please login.</div>
        <div class="mt-6 text-center">
            <a href="/auth/login" class="bg-ternary link-button uppercase px-4 py-2 rounded-md">Login</a>
        </div>
        
    </div>
</div>

{% endblock %}
