{% extends 'authenticate/index.html' %}
{% load static %}
{% block content %}

<div class="h-full flex justify-center items-center p-10 py-20">
    <div class="text-accent-200 text-xl font-primary">Send Password Reset Link</div>
</div>
<div class="h-full flex justify-center items-center p-10 py-20">
    <div class="text-white font-normal text-md">
        <div>
            Please enter the email address associated with your account. The password reset link will be sent to this address.
        </div>
        <form method="POST" class="my-2">
            {% csrf_token %}
            <input type="text" name="email" id="email" class="form-input">
            <button type="submit" class="link-button bg-ternary px-4 py-2 rounded-md mt-4">Send Password Reset Link</button>
        </form>
    </div>
</div>

{% endblock %}
