{% extends 'authenticate/index.html' %}
{% load static %}
{% block content %}

<div class="h-full flex justify-center items-center p-10 py-20">
    <div class="text-accent-200 text-xl font-primary">Send Password Reset Link</div>
</div>
<div class="h-full flex justify-center items-center p-10 py-20">
    <div class="text-white font-normal text-md">
        A password reset link has been sent to email address. 
        Please click on the Password reset link provided in the email to reset your password. 
        If you cannot find the email, please check your spam folder.
    </div>
</div>

{% endblock %}
