{% extends 'authenticate/index.html' %}
{% load static %}
{% block content %}

<div class="h-full flex justify-center items-center p-10 py-20">
    <div class="text-accent-200 text-xl font-primary">Reset your password</div>
</div>
<div class="h-full flex justify-center items-center p-10 py-20">
    <div class="text-white font-normal text-md w-full">
        <form method="POST" class="my-2">
            {% csrf_token %}
            <div>New Password</div>
            <div class="flex items-center">
                <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" class="form-input flex-grow">
                <span class="material-symbols-outlined ms-3 text-grey-200 cursor-pointer" id="key1">key</span>
            </div>
            
            <div class="mt-4">Confirm Password</div>
            <div class="flex items-center">
                <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" class="form-input flex-grow">
                <span class="material-symbols-outlined ms-3 text-grey-200 cursor-pointer" id="key2">key</span>
            </div>

            <button type="submit" class="link-button bg-ternary px-4 py-2 rounded-md mt-4">Change Password</button>
        </form>
    </div>
</div>

<!-- Show/Hide Password -->
<script>
    const key1 = document.querySelector("#key1");
    const key2 = document.querySelector("#key2");

    const password1 = document.querySelector("#id_new_password1");
    const password2 = document.querySelector("#id_new_password2");
    
    key1.addEventListener("click", function() {
        const type = password1.getAttribute("type") === "password" ? "text" : "password";
        password1.setAttribute("type", type);
        
        this.innerText = this.innerText === "key" ? "key_off" : "key";
    })

    key2.addEventListener("click", function() {
        const type = password2.getAttribute("type") === "password" ? "text" : "password";
        password2.setAttribute("type", type);
        
        this.innerText = this.innerText === "key" ? "key_off" : "key";
    })

</script>

{% endblock %}
