{% extends 'customer/index.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}

<div class="w-3/4 2xl:w-2/3 mx-auto mt-6">

    <div class="flex justify-between items-center">
        <div>
            <div class="text-white font-primary text-lg">Order <span class="text-accent-200">#{{ order.id }}</span></div>
            <div class="text-gray-400 font-normal">Placed on {{ order.created_at }}</div>
        </div>
        <div class="bg-quarternary border border-ternary px-4 py-2 text-accent-200 font-primary rounded-sm select-none uppercase">
            {{ order.status }}
        </div>
    </div>
    <hr class="border border-quarternary my-4">
    <div class="flex items-center mb-4">
        <div class="text-white font-primary text-lg">
            Payment method:
        </div>
        <div class="text-accent-200 font-primary text-lg ms-2">
            {% if order.payment == 'cod' %}Cash on Delivery{% else %}{{ order.payment }}{% endif %}
        </div>
    </div>
    <hr class="border border-quarternary my-4">
    <div class="flex items-center justify-between mb-4">
        <div class="text-white font-primary text-lg">
            Order Items
        </div>
        <div class="text-white font-primary text-lg">
            Total: ৳ {{ total }}
        </div>
    </div>

    <div>
        {% for item in order_items %}
            <div class="flex bg-secondary p-3 rounded-md mb-2 items-center">
                <a href="/product/details/{{ item.product.id }}">
                    <img src="{{ item.product.first_gallery.image.url }}" alt="" class="rounded-md w-12 aspect-square">
                </a>
                <div class="flex-grow ms-4">
                    <a class="text-white font-primary w-11/12" href="/product/details/{{ item.product.id }}">{{ item.product.name }}</a>
                    <div class="text-gray-400 font-normal w-11/12">
                        <div>৳ {{item.price}} × {{ item.quantity }} = ৳ {% widthratio item.price 1 item.quantity %}</div>
                    </div>
                </div>
                <div>
                    {% if order.status != 'delivered' %}
                        <a href="/customer/order/delete-item/{{ item.id }}" class="bg-quarternary px-4 py-2 text-sm font-primary uppercase text-white border border-ternary rounded-md hover:bg-ternary transition">Cancel item</a>
                    {% else %}
                    
                    <form class="flex" action="/product/review" method="POST" id="form-{{ item.getReview.id }}">
                        {% csrf_token %}
                        <input type="hidden" name="review_id" id="review_id" value="{{ item.getReview.id }}">
                        {% for i in 12345|make_list %}
                            <svg class="w-5 h-5 text-white" id="label-{{ item.getReview.id }}-{{ i }}" onclick="selectRating(this)" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="{% if item.getReview.rating is None or forloop.counter > item.getReview.rating %}none{% else %}currentColor{% endif %}" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-width="2" d="M11.083 5.104c.35-.8 1.485-.8 1.834 0l1.752 4.022a1 1 0 0 0 .84.597l4.463.342c.9.069 1.255 1.2.556 1.771l-3.33 2.723a1 1 0 0 0-.337 1.016l1.03 4.119c.214.858-.71 1.552-1.474 1.106l-3.913-2.281a1 1 0 0 0-1.008 0L7.583 20.8c-.764.446-1.688-.248-1.474-1.106l1.03-4.119A1 1 0 0 0 6.8 14.56l-3.33-2.723c-.698-.571-.342-1.702.557-1.771l4.462-.342a1 1 0 0 0 .84-.597l1.753-4.022Z"/>
                            </svg>
                        {% endfor %}
                        <input type="hidden" name="rating" id="input-{{ item.getReview.id }}" value="{% if item.getReview.rating is not None %}{{ item.getReview.rating }}{% endif %}">
                    </form>
                        

                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <hr class="border border-quarternary mb-4 mt-6">
    <div class="text-white font-primary text-lg mb-4">
        Order timeline
    </div>
    <div class="px-6">
        <ol class="relative text-gray-500 border-s border-gray-600">                  
            <li class="mb-10 ms-6 flex items-center">            
                <span class="absolute flex items-center justify-center w-8 h-8 bg-secondary border border-ternary rounded-full -start-4">
                    <svg class="w-3.5 h-3.5 text-green-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                    </svg>
                </span>
                <div class="ms-2">
                    <h3 class="font-primary leading-tight mt-2 2xl:mt-1 text-white">Order Placed</h3>
                    <p class="text-sm font-normal">{{ order.created_at }}</p>
                </div>
            </li>
            {% if order.approved_at %}
            <li class="mb-10 ms-6 flex items-center">            
                <span class="absolute flex items-center justify-center w-8 h-8 bg-secondary border border-ternary rounded-full -start-4">
                    <svg class="w-3.5 h-3.5 text-green-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                    </svg>
                </span>
                <div class="ms-2">
                    <h3 class="font-primary leading-tight mt-2 2xl:mt-1 text-white">Order Accepted</h3>
                    <p class="text-sm font-normal">{{ order.approved_at }}</p>
                </div>
            </li>
            {% endif %}
            {% if order.shipped_at %}
            <li class="mb-10 ms-6 flex items-center">            
                <span class="absolute flex items-center justify-center w-8 h-8 bg-secondary border border-ternary rounded-full -start-4">
                    <svg class="w-3.5 h-3.5 text-green-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                    </svg>
                </span>
                <div class="ms-2">
                    <h3 class="font-primary leading-tight mt-2 2xl:mt-1 text-white">Order Shipped</h3>
                    <p class="text-sm font-normal">{{ order.shipped_at }}</p>
                </div>
            </li>
            {% endif %}
            {% if order.delivered_at %}
            <li class="mb-10 ms-6 flex items-center">            
                <span class="absolute flex items-center justify-center w-8 h-8 bg-secondary border border-ternary rounded-full -start-4">
                    <svg class="w-3.5 h-3.5 text-green-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                    </svg>
                </span>
                <div class="ms-2">
                    <h3 class="font-primary leading-tight mt-2 2xl:mt-1 text-white">Order Delivered</h3>
                    <p class="text-sm font-normal">{{ order.delivered_at }}</p>
                </div>
            </li>
            {% endif %}
        </ol>
    </div>
    
    {% if order.status != 'delivered' %}
    <hr class="border border-quarternary mb-4 mt-6">
    <div class="flex justify-center">
        <a href="/customer/cancel-order/{{ order.id }}" class="flex items-center bg-red-400 uppercase font-primary px-4 py-2 rounded-md link-button" style="color: #1e1e1e;">
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
            </svg>
            <span class="ms-2">
                Cancel Order
            </span>
        </a>
    </div>
    {% endif %}
</div>

<script>

    function selectRating(element) {

        rating_id = element.id.split('-')[1]
        clickedIndex = element.id.split('-')[2]

        rating_input = document.getElementById('input-' + rating_id)
        rating_input.value = clickedIndex;

        form = document.getElementById('form-' + rating_id)
        form.submit();
    }
</script>
{% endblock %}